{# a single line comment #}
{#
  a multi-line comment with {{ braces }} and {% tags %} inside
#}
<p>{# inline #}text</p>
{#- whitespace controlled -#}
<!-- html comment with {{ expression }} inside -->
