<!DOCTYPE html>
<html lang="{{ lang | default('en') }}">
<head>
  <title>{{ title }} - {{ site.name }}</title>
  <style>
    .hero { background: {{ theme.color }}; color: red; }
  </style>
  <script>
    const data = {{ data | dump | safe }};
    {% if debug %}console.log('{{ message }}');{% endif %}
    // {{ inside_a_js_comment }}
  </script>
</head>
<body>
  <a href="{{ url }}" class="link {% if active %}is-active{% endif %}">{{ label }}</a>
  <div {% if hidden %}hidden{% endif %} data-id='{{ id }}'>content</div>
  <my-custom-element some-attribute="{{ value }}"></my-custom-element>
  <v-container></v-container>
  <img src="{{ image.src }}" alt="{{ image.alt }}">
</body>
</html>
